#cloud-config
users:
  - default
  - name: {{ rke2_vm_user }}
    groups:
      - wheel
    shell: /bin/bash
    sudo: "ALL=(ALL) NOPASSWD:ALL"
    lock_passwd: true
    ssh_authorized_keys:
      - {{ rke2_vm_ssh_public_key | to_json }}

package_update: true
packages:
  - qemu-guest-agent
  - NetworkManager
  - curl
  - iproute
  - iptables
  - tar
  - gzip

runcmd:
  - systemctl enable --now qemu-guest-agent
  - systemctl enable --now NetworkManager
